<div
  class="container" >

  <div class="gif" *ngIf="isRevealed && everyBodyHasVoted()">
    <img
      src="{{ shouldShowImage() }}"
      alt="gif"
      width="350px"
      height="300px"
      [style.margin-bottom]="'50px'"
    />
  </div>

  <div class="up">
    <mat-card
      *ngFor="let user of userInRoom"
      [ngClass]="{'user-card-front': isRevealed, 'user-card-back': !isRevealed}"
    >
      <span *ngIf="isRevealed">
        <mat-card-title>{{ user.vote?.value }}</mat-card-title>
      </span>
    </mat-card>
  </div>


  <div class="down">
    <button

      mat-fab extended color="accent"
      (click)="flipCard()"
    >
      <mat-icon>done</mat-icon>
      Révéler
    </button>

    <button
      class="user-button"
      mat-fab extended color="accent"
      (click)="reset()"
    >
      <mat-icon>autorenew</mat-icon>
      Reset
    </button>
  </div>

</div>
