<div class="room">

  <div class="sidebar">
    <app-sidebar
      [userInRoom]="room?.users"
      (sidebarStateForParent)="handleSidebarState($event)"
    ></app-sidebar>
  </div>

  <div
    class="center"
    [ngClass]="{ 'reduced-width': sidebarState === 'in' }">
    <app-board
      [userInRoom]="room?.users"
      [isRevealed]="room?.isRevealed"
    >
    ></app-board>
  </div>

  <div
    class="footer"
    [ngClass]="{ 'reduced-width': sidebarState === 'in' }">
    <app-fibonacci-cards
      (valueSelected)="handleCardSelected($event)"
    ></app-fibonacci-cards>
  </div>

</div>
