.cards-container {
  display: flex;
  width: 60vw;
}

.fibonacci-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 130px;
  margin: 1%;
  cursor: pointer;
  font-size: 1.5em;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.fibonacci-card:hover {
  transform: scale(1.05);
}

.fibonacci-card.selected {
  background-color: #FFD740;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .cards-container {
    flex-wrap: wrap;
    width: 90vw;
  }

  .fibonacci-card {
    width: 15%;
    height: 100px;
    margin: 2%;
  }
}
